$main-color: #1da0f1;

@mixin whPercent {
  width: 100%;
  height: 100%;
}
#nav {
  @include whPercent();
  display: inline-flex;
  background: white;

  .icons {
    width: 40%;
    height: 100%;
    background: white;
    display: inline-flex;
    justify-content: center;
    font-family: arial;
    padding: 10px;
    i {
      padding: 5px
    }
    p {
      margin-top:10px;
    }
  }
  .logo {
    width: 20%;
    height: 100%;
    background: white;
    padding: 0;
    display: flex;
    justify-content: center;
    
    i {
      color: $main-color;
      margin: auto auto;
    }
  }
  .search {
    width: 40%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    
    img {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      margin-top: 15px

      
    }
    button {
      background: $main-color;
      width: auto;
      height: 4vh;
      margin: 15px 15px 0 10px;
      color: white;
      font-size: 25px;
      border-radius: 4px;
      i {
        margin-right: 3px;
      }
    }
  }
  #searchBar {
    border: 2px solid grey;
    width: 40%;
    height: 40px;
    border-radius: 10px;
    margin: 15px 15px 0 10px;
    #bar {
      width: 10vw;
      height: 2vh;
      font-size: 1vh;
      border-right: 1px solid grey;
      
    }
    #btn {
      width: auto;
      height: 3vh;
      
    }

  }
}

