#nav {
  width: 100%;
  height: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: white;
}

#nav .icons {
  width: 40%;
  height: 100%;
  background: white;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: arial;
  padding: 10px;
}

#nav .icons i {
  padding: 5px;
}

#nav .icons p {
  margin-top: 10px;
}

#nav .logo {
  width: 20%;
  height: 100%;
  background: white;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#nav .logo i {
  color: #1da0f1;
  margin: auto auto;
}

#nav .search {
  width: 40%;
  height: 100%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#nav .search img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-top: 15px;
}

#nav .search button {
  background: #1da0f1;
  width: auto;
  height: 4vh;
  margin: 15px 15px 0 10px;
  color: white;
  font-size: 25px;
  border-radius: 4px;
}

#nav .search button i {
  margin-right: 3px;
}

#nav #searchBar {
  border: 2px solid grey;
  width: 40%;
  height: 40px;
  border-radius: 10px;
  margin: 15px 15px 0 10px;
}

#nav #searchBar #bar {
  width: 10vw;
  height: 2vh;
  font-size: 1vh;
  border-right: 1px solid grey;
}

#nav #searchBar #btn {
  width: auto;
  height: 3vh;
}

#left {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.leftTop {
  width: 100%;
  height: 50%;
}

.leftTop #content {
  width: 80%;
  height: 100%;
  float: right;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (1fr)[12];
      grid-template-rows: repeat(12, 1fr);
  background: #f1eaea;
  -webkit-box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3;
          box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3;
}

.leftTop .whitePortion {
  -webkit-box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3;
          box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3;
  border-radius: 5px;
  display: -ms-grid;
  display: grid;
  grid-area: whitish;
  -ms-grid-row: 1;
  -ms-grid-row-span: 11;
  grid-row: 1/ 12;
  grid-column: 1 /-1;
}

.leftTop section {
  background: #1da0f1;
  display: -ms-grid;
  display: grid;
  grid-area: section;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1 /5;
  grid-column: 1 / -1;
}

.leftTop img {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  grid-area: pic;
  -ms-grid-row: 3;
  -ms-grid-row-span: 4;
  grid-row: 3 / 7;
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-column: 2 / 7;
  border: 3px solid white;
  border-radius: 5px;
}

.leftTop p {
  font-family: arial;
  display: -ms-grid;
  display: grid;
  grid-area: name;
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  grid-row: 5 /7;
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-column: 7 /10;
  margin-left: 2px;
  font-size: 2vh;
}

.leftTop .bar {
  display: -ms-grid;
  display: grid;
  grid-area: bar;
  -ms-grid-row: 11;
  -ms-grid-row-span: 1;
  grid-row: 11/12;
}

.leftTop .bar {
  display: -ms-grid;
  display: grid;
  grid-area: bar;
  grid-column: 1 / -1;
  grid-row: 9 /-1;
}

.leftTop .bar .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4px;
  color: grey;
  font-family: arial;
  font-size: 15px;
  text-align: center;
  margin-top: 4px;
}

.leftTop .bar .flex p {
  color: #1da0f1;
  font-weight: 600;
  font-size: 25px;
}

.leftTop .whiteBottom {
  display: -ms-grid;
  display: grid;
  grid-area: whiteBottom;
  grid-column: 1 /-1;
  grid-row: 97 / -1;
  font-family: arial;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3;
          box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3;
}

.leftTop .whiteBottom p {
  margin-top: 10px;
}

.leftTop .whiteBottom .bold {
  font-weight: 700;
  font-size: 2vh;
}

.leftBottom {
  width: 100%;
  height: 50%;
  font-family: arial;
}

.leftBottom #content2 {
  width: 80%;
  height: 100%;
  float: right;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

.leftBottom h2 {
  margin: 10px 0 0  36px;
}

.leftBottom ul {
  list-style: none;
  width: 100%;
  float: left;
}

.leftBottom ul li {
  line-height: .7;
}

.leftBottom ul li div {
  color: #1da0f1;
  font-size: 2vh;
  font-weight: 700;
  margin-top: 20px;
}

#middle {
  width: 100%;
  height: 100%;
  display: inline-block;
}

#middle .middleTop {
  height: 10%;
  width: 100%;
  background: purple;
}

#middle .middleBottom {
  background: blue;
  height: 90%;
  width: 100%;
}

#right {
  width: 100%;
  height: 100%;
  display: inline-block;
}

#right .rightTop {
  width: 100%;
  height: 60%;
  background: yellow;
}

#right .rightBottom {
  width: 100%;
  height: 40%;
  background: pink;
}

* {
  border: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
}

#main {
  display: inline-block;
  width: 100vw;
  height: 100vh;
}

#bottom {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#one {
  width: 100%;
  height: 8.33333%;
  display: inline-block;
}

#two {
  width: 25%;
  height: 91.66667%;
  display: inline-block;
}

#three {
  width: 50%;
  height: 91.66667%;
  display: inline-block;
}

#four {
  width: 25%;
  height: 91.66667%;
  display: inline-block;
}
/*# sourceMappingURL=main.css.map */